.boxes div{
    height: 300px;
    width: 300px;
    border: 4px solid black;
}
.boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
































/* #navbar{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 40px;
}
#navbar li a{
    text-decoration: none;
    color: black;
}
.box{
    height: 2200px;
    border: 10px solid black;
    width: 2200px;
}
.box2{
    height: 2200px;
    width: 2200px;
    border: 10px solid red;
}
#maindiv{
    display: flex;
    /* display: none; */
    /* justify-content:space-around; */
    /* gap: 200px; */
    align-items:center;

} */