.box{
    height: 2200px;
    border: 10px solid black;
    width: 2200px;
}
.box2{
    height: 2200px;
    width: 2200px;
    border: 10px solid red;
}
#maindiv{
    display: flex;
    /* display: none; */
    /* justify-content:space-around; */
    /* gap: 200px; */
    align-items:center;

}