.box{
    border: 2px solid black;
    height: 500px;
    width: 500px;
    margin-left: 500px;
    /* padding: 29px; */
}
.boc2{
    border: 2px dashed rgb(215, 11, 11);
    align-items: center;
    height: 200px;
    width: 200px;
    /* padding-left: 50px; */
        margin-left: 20px;
        margin-top: 20px;
}
