*{
    margin: 0px;
    padding: 0px;
}
#topart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 0px; */
    border: 3px solid black;
    border-radius: 5px;
    height: 60px;
    background-color: bisque;
    width: 95%;

}
#topart img{
    width: 50px;
    /* padding-left: 10px; */
}
#topart nav ul{
    display: flex;
    gap: 100px;
   
}
#topart nav ul li a {
    text-decoration: none;
    color: black;
    
        font-family: "Baloo Paaji 2", sans-serif;
        font-optical-sizing: auto;
         font-weight: 700;
        font-style: normal; 
    
}
#topart nav ul li {
    text-decoration: none;
    /* color: black; */
    list-style: none;   
    
}
#topart button{
    /* margin-right: 10px; */
    padding: 1px;
    border-radius: 8px;
}
#topart span{
    height: 40px;
    font-weight: bold;
    /* font-size:   ; */
}
/* #topart nav ul li:hover{
    height: 40px;
    transition: ease-in-out;
} */